<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="org.inftel.ssa.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <!-- Permission for internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permission for check internet access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:name=".SsaApplication"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:logo="@drawable/title_logo"
        android:theme="@style/Theme.Ssa" >
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Ssa.Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SsaActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".ui.ProjectActivity" />
        <activity
            android:name=".ui.phone.SprintListActivity"
            android:label="@string/title_sprints" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.inftel.ssa.sprints" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.phone.SprintDetailActivity"
            android:label="@string/title_sprints" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.inftel.ssa.sprints" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.phone.SprintEditActivity"
            android:label="@string/title_task">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.inftel.ssa.sprints" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.inftel.ssa.sprints" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.phone.TaskListActivity"
            android:label="@string/title_task" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.inftel.ssa.task" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.phone.TaskDetailActivity"
            android:label="@string/title_task" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.inftel.ssa.task" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.phone.TaskEditActivity"
            android:label="@string/title_task">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.inftel.ssa.task" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.inftel.ssa.task" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.phone.UserListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.inftel.ssa.users" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.phone.UserDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.inftel.ssa.users" />
            </intent-filter>
        </activity>
        <activity
	        android:name=".ui.phone.ProjectListActivity"
	        android:label="@string/title_projects" >
	        <intent-filter>
	            <action android:name="android.intent.action.VIEW" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="vnd.android.cursor.dir/vnd.inftel.ssa.projects" />
	        </intent-filter>
	    </activity>
	    <activity
	        android:name=".ui.phone.ProjectDetailActivity"
	        android:label="@string/title_projects" >
	        <intent-filter>
	            <action android:name="android.intent.action.VIEW" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="vnd.android.cursor.item/vnd.inftel.ssa.projects" />
	        </intent-filter>
	    </activity>

        <provider
            android:name=".contentproviders.UserContentProvider"
            android:authorities="org.inftel.ssa.mobile.contentproviders.users" />
        <provider
            android:name=".contentproviders.ProjectContentProvider"
            android:authorities="org.inftel.ssa.mobile.contentproviders.projects" />
        <provider
            android:name=".contentproviders.SprintContentProvider"
            android:authorities="org.inftel.ssa.mobile.provider" />
        <provider
            android:name=".contentproviders.TaskContentProvider"
            android:authorities="org.inftel.ssa.mobile.task.contentprovider" >
        </provider>
        
    </application>

</manifest>