 ------
 Introduction
 ------
 Ignacio Baca
 ------
 2012-01-23
 ------


${project.name}

 Desarollo de proyecto Scrum App bajo metodología Scrum para el máster Inftel IX.
 
 {{{http://code.google.com/p/inftel-scrum-grupo-uno/source/checkout} Project Developper Home}}
 {{{https://groups.google.com/forum/?fromgroups#!forum/inftel-scrum-grupo-uno} Project Group Home}}

* Objetivos

 Realizar un buen trabajo.

